doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title [SUBJECT]
        style(type='text/css').
            body {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin:0 !important;
                width: 100% !important;
                -webkit-text-size-adjust: 100% !important;
                -ms-text-size-adjust: 100% !important;
                -webkit-font-smoothing: antialiased !important;
            }
            .tableContent img {
                border: 0 !important;
                display: block !important;
                outline: none !important;
            }
            a{
                color:#382F2E;
            }
            p, h2{
                color:#382F2E;
                margin:0;
            }
            div,p,ul,h2{
                margin:0;
            }
            h2{
                color:#DAB679;
                font-size:21px;
                font-weight:normal;
            }
            p{
            }
            a.link1{
                font-weight:bold;
                color:#DAB679;
                font-size:13px;
                text-decoration:none;font-weight:bold;
            }
            a.link2{
                padding:8px 20px;
                border-radius:5px;
                -moz-border-radius:5px;
                -webkit-border-radius:5px;
                color:#DAB679;
                font-size:13px;
                font-weight:bold;
                text-decoration:none;
                border:1px solid #DAB679;
                font-weight:bold;
                background:#FFFAF3;
            }
            @media only screen and (max-width:480px)
            {
                table[class="MainContainer"], td[class="cell"]
                {
                    width: 100% !important;
                    height:auto !important;
                }
                td[class="specbundle"]
                {
                    width: 100% !important;
                    float:left !important;
                    font-size:13px !important;
                    line-height:17px !important;
                    display:block !important;
                    padding-bottom:5px !important;
                }
                td[class="specbundle2"]
                {
                    width: 100% !important;
                    float:left !important;
                    font-size:14px !important;
                    line-height:18px !important;
                    display:block !important;
                    padding-bottom:45px !important;
                }
                td[class="spechide"]
                {
                    display:none !important;
                }
                img[class="banner"]
                {
                    width: 100% !important;
                    height: auto !important;
                }
                td[class="left_pad"]
                {
                    padding-left:15px !important;
                    padding-right:15px !important;
                }
            }
            @media only screen and (max-width:540px)
            {
                table[class="MainContainer"], td[class="cell"]
                {
                    width: 100% !important;
                    height:auto !important;
                }
                td[class="specbundle"]
                {
                    width: 100% !important;
                    float:left !important;
                    font-size:13px !important;
                    line-height:17px !important;
                    display:block !important;
                    padding-bottom:5px !important;
                }
                td[class="specbundle2"]
                {
                    width: 100% !important;
                    float:left !important;
                    font-size:14px !important;
                    line-height:18px !important;
                    display:block !important;
                    padding-bottom:45px !important;
                }
                td[class="spechide"]
                {
                    display:none !important;
                }
                img[class="banner"]
                {
                    width: 100% !important;
                    height: auto !important;
                }
                td[class="left_pad"]
                {
                    padding-left:15px !important;
                    padding-right:15px !important;
                }
            }
        script.swatch.active(type='colorScheme').
            {
            "name":"Default",
            "bgBody":"ffffff",
            "link":"DAB679",
            "color":"000000",
            "bgItem":"ffffff",
            "title":"DAB679"
            }
    body(paddingwidth='0', paddingheight='0', bgcolor='#d1d3d4', style='padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;', offset='0', toppadding='0', leftpadding='0')
        table.tableContent(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#ffffff', style='font-family:Georgia, times, sans-serif;')
            tbody
                tr
                    td
                        table.MainContainer(width='600', border='0', cellspacing='0', cellpadding='0', align='center', style='font-family:Georgia, times, sans-serif;', bgcolor='#ffffff')
                            tbody
                                tr
                                    td
                                        table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                            tbody
                                                tr
                                                    td(valign='top', width='20', align='left')  
                                                    // =========================== The header ===========================
                                                    // =========================== The body ===========================
                                                    td(valign='top', align='center', width='560')
                                                        table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                            tbody
                                                                tr
                                                                    td.movableContentContainer
                                                                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center')
                                                                                tr
                                                                                    td(align='left', valign='top')
                                                                                        .contentEditableContainer.contentTextEditable
                                                                                            .contentEditable
                                                                                                h2(style="color: #456a84;font-family: sans-serif") #{title} 
                                                                                tr
                                                                                    td
                                                                                        .contentEditableContainer.contentImageEditable
                                                                                            .contentEditable
                                                                                                img.banner(src=image, alt='featured image', data-default='placeholder', data-max-width='600', width='600', height='350', border='0')
                                                                                tr
                                                                                    td(height='25')
                                                                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center')
                                                                                tr
                                                                                    td(align='left', valign='top')
                                                                                        .contentEditableContainer.contentTextEditable
                                                                                            .contentEditable
                                                                                                p(style='font-size:13px;')
                                                                                                    | #{text}
                                                                                tr
                                                                                    td(align='right', valign='top')
                                                                                        .contentEditableContainer.contentTextEditable
                                                                                            .contentEditable
                                                                                                a.link2(target='_blank', href=url, style="color: #456a84;font-family: sans-serif") Read more
                                                                        .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style="display:none")
                                                                                tr
                                                                                    td(height='40')  
                                                                                tr
                                                                                    td(style='border:1px solid #333333;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;')
                                                                                        table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center')
                                                                                            tr
                                                                                                td(width='30')
                                                                                                td(width='503', align='left', valign='top')
                                                                                                    .contentEditableContainer.contentTextEditable
                                                                                                        .contentEditable
                                                                                                            h2 On the runways
                                                                                                td(width='25')
                                                                                            tr
                                                                                                td(width='30')
                                                                                                td(width='503', align='left', valign='top')
                                                                                                    .contentEditableContainer.contentTextEditable
                                                                                                        .contentEditable
                                                                                                            p(style='font-size:13px;')
                                                                                                                | #{tags}
                                                                                                td(width='25')
                                                    td(valign='top', width='20')  

